<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Архіватор</title>
</head>
<body>
    <h1>Архіватор сервер працює!</h1>
    <p>Використовуйте форми нижче для взаємодії з сервером.</p>
    <ul>
        <li><a href="/create_archive">Створити архів</a></li>
        <li><a href="/extract_archive">Розпакувати архів</a></li>
        <li><a href="/show_database">Переглянути базу даних</a></li>
    </ul>
</body>
</html>
